<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Agent</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="container">
        <h1>Voice Agent</h1>
        <div class="button-section">
            <button id="start" onclick="recordAudio()">Start Recording</button>
            <button id="stop" onclick="stopRecording()" disabled>Stop Recording</button>
            <button id="stopConversation" onclick="stopConversation()">Stop Conversation</button>
        </div>
        <div id="audioSection" class="audio-section">
            <p id="query" class="hidden" style="font-size:28px; margin: 10px 0px;"></p>
            <audio id="responseAudio" controls class="hidden"></audio>
        </div>
    </div>
    <script src="static/script.js"></script>
</body>

</html>